Repository lantanagroup/link-cloud: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-4.yml, azure-pipelines.yml

azure-pipelines-4.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: PowerShell@2
    displayName: Transform nuget.config
    inputs:
      targetType: inline
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - job: getChangedFiles
      displayName: Get Changes
      steps:
      - checkout: self
        fetchDepth: 0
      - task: PowerShell@2
        name: setVariables
        inputs:
          targetType: inline
          script: '#Get any changed files
  
  ...

Update azure-pipelines.dataacquisition.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.dataacquisition.cd.yaml
Due: none

Update azure-pipelines.report.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.report.cd.yaml
Due: none

Update azure-pipelines.audit.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.audit.cd.yaml
Due: none

Added section fof Sasl properties in the kafka configuration to integrate with Event Hub.
  Shared/Application/Models/Configs/KafkaConnection.cs
Due: azure-pipelines.yml

reverted changes to shared, will be addressed in a future ticket.
  Shared/Application/Models/Configs/KafkaConnection.cs
Due: azure-pipelines.yml

cleanup
  Shared/Application/Models/Configs/KafkaConnection.cs
Due: azure-pipelines.yml

Added additional config properties
  Audit/Application/Factory/KafkaConsumerFactory.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml

Updated to .NET 8
  Audit.Specification/Audit.Specification.csproj
  Audit.Specification/StepDefinitions/CreateAuditEventStepDefinitions.cs
  Audit/Audit.csproj
  AuditUnitTests/AuditUnitTests.csproj
Due: azure-pipelines-4.yml, azure-pipelines.yml

Minor logging updates and added Audit.http for api testing
  Audit/Audit.http
  Audit/Presentation/Controllers/AuditController.cs
  Audit/Program.cs
  Audit/appsettings.Development.json
  Audit/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

Updated dockerfile to use .net 8
  Audit/Dockerfile
Due: azure-pipelines-4.yml, azure-pipelines.yml

removed uncessary aspnetcore runtime from dockerfile
  Audit/Dockerfile
Due: azure-pipelines-4.yml, azure-pipelines.yml

Update audit.yml for Azure Pipelines
  pipelines/aca/audit.yml
Due: azure-pipelines.yml

updated some telemetry and added a new meter that uses the IMeter factory.
  Audit/Application/Audit/Commands/CreateAuditEvent/CreateAuditEventCommand.cs
  Audit/Application/Models/TelemetryConfig.cs
  Audit/Audit.csproj
  Audit/Infrastructure/Extensions/ServiceCollectionExtensions.cs
  Audit/Infrastructure/Telemetry/AuditServiceMetrics.cs
  Audit/appsettings.Development.json
  Audit/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

Updated telemetry and logging
  Audit/Application/Audit/Commands/CreateAuditEvent/CreateAuditEventCommand.cs
  Audit/Infrastructure/Extensions/ServiceCollectionExtensions.cs
  Audit/Infrastructure/Telemetry/AuditServiceMetrics.cs
  Audit/Listeners/AuditEventListener.cs
  Audit/appsettings.Development.json
  Audit/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

commit
  pipelines/aca/audit_adam.yml
Due: azure-pipelines.yml

Update Dockerfile
  Audit/Dockerfile
Due: azure-pipelines-4.yml, azure-pipelines.yml

Initial stages of adding azure app configuration options
  Audit/Audit.csproj
  Audit/Infrastructure/Extensions/ServiceCollectionExtensions.cs
  Audit/Program.cs
  Audit/Properties/launchSettings.json
  Audit/Settings/AuditConstants.cs
  Audit/appsettings.Development.json
  Audit/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

Adjustements made to pull serilog configuration from azure app config
  Audit/Program.cs
  Audit/Settings/AuditConstants.cs
  Audit/appsettings.Development.json
  Audit/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

added remaining config values to azure app config
  Audit/Program.cs
  Audit/Settings/AuditConstants.cs
  Audit/appsettings.Development.json
  Audit/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

adjusted audit appSettings.Development
  Audit/appsettings.Development.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

Updated notification projects to .net 8
  Notification/Notification.csproj
  NotificationUnitTests/NotificationUnitTests.csproj
Due: azure-pipelines.yml

Updated notification service to .NET 8 and started updates to allow for azure app config services.
  Notification/Application/Extensions/ServiceCollectionExtensions.cs
  Notification/Application/Models/TelemetryConfig.cs
  Notification/Application/Notification/Commands/CreateNotificationCommand/CreateNotificationCommand.cs
  Notification/Application/Notification/Commands/SendNotificationCommand/SendNotificationCommand.cs
  Notification/Dockerfile
  Notification/Infrastructure/Telemetry/Counters.cs
  Notification/Infrastructure/Telemetry/NotificationServiceMetrics.cs
  Notification/Notification.csproj
  Notification/Program.cs
  Notification/Properties/launchSettings.json
  Notification/Settings/NotificationConstants.cs
  Notification/appsettings.Development.json
  Notification/appsettings.json
Due: azure-pipelines.yml

Update audit_adam.yml for Azure Pipelines
  pipelines/aca/audit_adam.yml
Due: azure-pipelines.yml

Added logging redaction to audit service, updated notification app settings
  Audit/Application/Audit/Commands/CreateAuditEvent/CreateAuditEventCommand.cs
  Audit/Audit.csproj
  Audit/Domain/Entities/AuditEntity.cs
  Audit/Infrastructure/Logging/DataTaxonomy.cs
  Audit/Infrastructure/Logging/Logging.cs
  Audit/Program.cs
  Notification/appsettings.Development.json
  Notification/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

updated nuget packages
  Audit/Audit.csproj
Due: azure-pipelines-4.yml, azure-pipelines.yml

Updated audit service logging, fixed issue that was preventing telemetry from be collected correctly (trying to filter out swagger seemed to cause problems).
  Audit/Application/Audit/Commands/CreateAuditEvent/CreateAuditEventCommand.cs
  Audit/Application/Audit/Commands/CreateAuditEvent/CreateAuditEventModel.cs
  Audit/Application/Audit/Queries/GetAllAuditEvents/GetAllAuditEventsQuery.cs
  Audit/Application/Audit/Queries/GetAuditEvent/GetAuditEventQuery.cs
  Audit/Application/Audit/Queries/GetAuditEventsList/GetAuditEventListQuery.cs
  Audit/Application/Factory/AuditFactory.cs
  Audit/Application/Interfaces/IAuditFactory.cs
  Audit/Application/Models/AuditSearchFilterRecord.cs
  Audit/Infrastructure/Extensions/ServiceCollectionExtensions.cs
  Audit/Infrastructure/Logging/DataTaxonomy.cs
  Audit/Infrastructure/Logging/Logging.cs
  Audit/Infrastructure/Logging/StarRedactor.cs
  Audit/Infrastructure/Telemetry/Counters.cs
  Audit/Listeners/AuditEventListener.cs
  Audit/Persistance/Audit/AuditMongoRepo.cs
  Audit/Presentation/Controllers/AuditController.cs
  Audit/Presentation/Services/AuditService.cs
  Audit/Program.cs
  Audit/Settings/AuditConstants.cs
  Audit/appsettings.Development.json
  Audit/appsettings.json
  Notification/Application/Extensions/ServiceCollectionExtensions.cs
  Notification/appsettings.Development.json
  Notification/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

Refacotring of notification logging
  Audit/Infrastructure/Logging/Logging.cs
  Audit/Listeners/AuditEventListener.cs
  Audit/Persistance/Audit/AuditMongoRepo.cs
  Audit/Presentation/Controllers/AuditController.cs
  Notification/Application/Factory/KafkaConsumerFactory.cs
  Notification/Application/Factory/NotificationConfigurationFactory.cs
  Notification/Application/Factory/NotificationFactory.cs
  Notification/Application/Interfaces/INotificationConfigurationFactory.cs
  Notification/Application/Interfaces/INotificationFactory.cs
  Notification/Application/Models/NotificationConfigurationSearchRecord.cs
  Notification/Application/Models/NotificationSearchRecord.cs
  Notification/Application/Notification/Queries/GetFacilityNotifications/GetFacilityNotificationsQuery.cs
  Notification/Application/Notification/Queries/GetNotificationList/GetNotificationListQuery.cs
  Notification/Application/NotificationConfiguration/Queries/GetFacilityConfigurationList/GetFacilityConfigurationListQuery.cs
  Notification/Infrastructure/Logging/DataTaxonomy.cs
  Notification/Infrastructure/Logging/Logging.cs
  Notification/Infrastructure/Logging/StarRedactor.cs
  Notification/Listeners/NotificationRequestedListener.cs
  Notification/Notification.csproj
  Notification/Persistence/Notification/NotificationMongoRepo.cs
  Notification/Persistence/NotificationConfig/NotificationConfigMongoRepo.cs
  Notification/Presentation/Controllers/NotificationController.cs
  Notification/Program.cs
  Notification/Settings/NotificationConstants.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml

Updated notification api logging
  Notification/Infrastructure/Logging/Logging.cs
  Notification/Presentation/Controllers/NotificationController.cs
  Notification/Settings/NotificationConstants.cs
Due: azure-pipelines.yml

More logging updates
  Notification/Application/Notification/Commands/CreateAuditEventCommand/CreateAuditEventCommand.cs
  Notification/Application/Notification/Commands/CreateNotificationCommand/CreateNotificationCommand.cs
  Notification/Application/Notification/Commands/SendNotificationCommand/SendNotificationCommand.cs
  Notification/Application/Notification/Queries/GetFacilityNotifications/GetFacilityNotificationsQuery.cs
  Notification/Application/Notification/Queries/GetNotification/GetNotificationQuery.cs
  Notification/Application/Notification/Queries/GetNotificationList/GetNotificationListQuery.cs
  Notification/Application/NotificationConfiguration/Commands/CreateFacilityConfiguration/CreateFacilityConfigurationCommand.cs
  Notification/Application/NotificationConfiguration/Commands/DeleteFacilityConfiguration/DeleteFacilityConfigurationCommand.cs
  Notification/Application/NotificationConfiguration/Commands/UpdateFacilityConfiguration/UpdateFacilityConfigurationCommand.cs
  Notification/Infrastructure/Logging/Logging.cs
  Notification/Presentation/Controllers/NotificationController.cs
  Notification/Settings/NotificationConstants.cs
Due: azure-pipelines.yml

code clean up
  Audit/Infrastructure/Extensions/ServiceCollectionExtensions.cs
  Audit/Persistance/Audit/AuditMongoRepo.cs
  Audit/Presentation/Controllers/AuditController.cs
  Audit/Program.cs
  Audit/appsettings.json
  Notification/Application/Notification/Commands/CreateAuditEventCommand/CreateAuditEventCommand.cs
  Notification/Application/Notification/Commands/CreateNotificationCommand/CreateNotificationCommand.cs
  Notification/Application/Notification/Commands/SendNotificationCommand/SendNotificationCommand.cs
  Notification/Application/Notification/Queries/GetFacilityNotifications/GetFacilityNotificationsQuery.cs
  Notification/Application/Notification/Queries/GetNotification/GetNotificationQuery.cs
  Notification/Application/Notification/Queries/GetNotificationList/GetNotificationListQuery.cs
  Notification/Application/NotificationConfiguration/Commands/CreateFacilityConfiguration/CreateFacilityConfigurationCommand.cs
  Notification/Application/NotificationConfiguration/Commands/DeleteFacilityConfiguration/DeleteFacilityConfigurationCommand.cs
  Notification/Application/NotificationConfiguration/Commands/UpdateFacilityConfiguration/UpdateFacilityConfigurationCommand.cs
  Notification/Infrastructure/Logging/Logging.cs
  Notification/Listeners/NotificationRequestedListener.cs
  Notification/Persistence/Notification/NotificationMongoRepo.cs
  Notification/Presentation/Controllers/NotificationController.cs
  Notification/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

Updated logging messages
  Audit/Infrastructure/Logging/Logging.cs
  Audit/Program.cs
  Notification/Infrastructure/Logging/Logging.cs
  Notification/Program.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml

code cleanup
  Audit/appsettings.Development.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

Updated kafka consumer/producers to use new broker class that allows for compatability with event hubs.
  Audit/Application/Factory/KafkaConsumerFactory.cs
  Audit/Application/Models/BrokerConnection.cs
  Audit/Listeners/AuditEventListener.cs
  Audit/Program.cs
  Notification/Application/Factory/KafkaConsumerFactory.cs
  Notification/Application/Factory/KafkaProducerFactory.cs
  Notification/Application/Interfaces/IKafkaConsumerFactory.cs
  Notification/Application/Interfaces/IKafkaProducerFactory.cs
  Notification/Application/Models/BrokerConnection.cs
  Notification/Application/Notification/Commands/CreateAuditEventCommand/CreateAuditEventCommand.cs
  Notification/Listeners/NotificationRequestedListener.cs
  Notification/Program.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml

Added audit search duration histogram meter
  Audit/Infrastructure/Telemetry/AuditServiceMetrics.cs
  Audit/Presentation/Controllers/AuditController.cs
  Audit/Program.cs
  Notification/Infrastructure/Telemetry/NotificationServiceMetrics.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml

Removed uneeded grpc methods, code clean up
  Audit/Audit.csproj
  Audit/Presentation/Controllers/AuditController.cs
  Audit/Presentation/Services/AuditService.cs
  Audit/Program.cs
  Audit/Protos/audit.proto
  Audit/appsettings.Development.json
  Audit/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

Initial changes to add entity framework core
  Audit.Specification/StepDefinitions/CreateAuditEventStepDefinitions.cs
  Audit/Application/Audit/Commands/CreateAuditEvent/CreateAuditEventCommand.cs
  Audit/Application/Audit/Commands/CreateAuditEvent/ICreateAuditEventCommand.cs
  Audit/Application/Factory/AuditFactory.cs
  Audit/Application/Interfaces/IAuditFactory.cs
  Audit/Application/Interfaces/IAuditRepository.cs
  Audit/Application/Interfaces/IBaseEntity.cs
  Audit/Application/Interfaces/ISearchRepository.cs
  Audit/Application/Models/AuditModel.cs
  Audit/Audit.csproj
  Audit/Domain/Entities/AuditEntity.cs
  Audit/Domain/Entities/BaseEntity.cs
  Audit/Infrastructure/Logging/Logging.cs
  Audit/Listeners/AuditEventListener.cs
  Audit/Persistance/Audit/AuditMongoRepo.cs
  Audit/Persistance/AuditDbContext.cs
  Audit/Persistance/Configurations/AuditLogConfigurations.cs
  Audit/Persistance/Repositories/AuditLogRepository.cs
  Audit/Program.cs
  AuditUnitTests/AuditMongoRepoTests.cs
  AuditUnitTests/CreateAuditEventCommandTests.cs
  AuditUnitTests/GetAuditEventListQueryTests.cs
  AuditUnitTests/GetAuditEventQueryTests.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml

Data Acq Demo App
  DemoApiGateway/Controllers/DataAcquisitionGatewayController.cs
  DemoApiGateway/Services/Client/DataAcquisition/DataAcquisitionService.cs
  DemoApiGateway/Services/Client/DataAcquisition/IDataAcquisitionService.cs
  DemoApp/.vscode/launch.json
  DemoApp/angular.json
  DemoApp/src/app/app.module.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-authentication-config-dialog/data-acquisition-authentication-config-dialog.component.css
  DemoApp/src/app/components/data-acquisition/data-acquisition-authentication-config-dialog/data-acquisition-authentication-config-dialog.component.html
  DemoApp/src/app/components/data-acquisition/data-acquisition-authentication-config-dialog/data-acquisition-authentication-config-dialog.component.spec.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-authentication-config-dialog/data-acquisition-authentication-config-dialog.component.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-authentication-config-form/data-acquisition-authentication-config-form.component.css
  DemoApp/src/app/components/data-acquisition/data-acquisition-authentication-config-form/data-acquisition-authentication-config-form.component.html
  DemoApp/src/app/components/data-acquisition/data-acquisition-authentication-config-form/data-acquisition-authentication-config-form.component.spec.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-authentication-config-form/data-acquisition-authentication-config-form.component.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-config-form/data-acquisition-config-form.component.html
  DemoApp/src/app/components/data-acquisition/data-acquisition-config-form/data-acquisition-config-form.component.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-list-config-dialog/data-acquisition-fhir-list-config-dialog.component.css
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-list-config-dialog/data-acquisition-fhir-list-config-dialog.component.html
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-list-config-dialog/data-acquisition-fhir-list-config-dialog.component.spec.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-list-config-dialog/data-acquisition-fhir-list-config-dialog.component.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-list-config-form/data-acquisition-fhir-list-config-form.component.css
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-list-config-form/data-acquisition-fhir-list-config-form.component.html
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-list-config-form/data-acquisition-fhir-list-config-form.component.spec.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-list-config-form/data-acquisition-fhir-list-config-form.component.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-query-config-dialog/data-acquisition-fhir-query-config-dialog.component.css
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-query-config-dialog/data-acquisition-fhir-query-config-dialog.component.html
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-query-config-dialog/data-acquisition-fhir-query-config-dialog.component.spec.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-query-config-dialog/data-acquisition-fhir-query-config-dialog.component.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-query-config-form/data-acquisition-fhir-query-config-form.component.html
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-query-config-form/data-acquisition-fhir-query-config-form.component.scss
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-query-config-form/data-acquisition-fhir-query-config-form.component.spec.ts
  DemoApp/src/app/components/data-acquisition/data-acquisition-fhir-query-config-form/data-acquisition-fhir-query-config-form.component.ts
  DemoApp/src/app/components/tenant/facility-view/facility-view.component.html
  DemoApp/src/app/components/tenant/facility-view/facility-view.component.ts
  DemoApp/src/app/services/gateway/data-acquisition/data-acquisition.service.ts
Due: azure-pipelines.yml

auditlog repository built, added dbcontext to services, updated commands and queries, updated controllers, added database provider configuration property
  Audit/Application/Audit/Queries/GetAllAuditEvents/IGetAllAuditEventsQuery.cs
  Audit/Application/Audit/Queries/GetAuditEvent/GetAuditEventQuery.cs
  Audit/Application/Audit/Queries/GetAuditEvent/IGetAuditEventQuery.cs
  Audit/Application/Audit/Queries/GetAuditEventsList/GetAuditEventListQuery.cs
  Audit/Application/Audit/Queries/GetFacilityAuditEvents/GetFacilityAuditEventsQuery.cs
  Audit/Application/Audit/Queries/GetFacilityAuditEvents/IGetFacilityAuditEventsQuery.cs
  Audit/Application/Interfaces/IAuditRepository.cs
  Audit/Infrastructure/Health/DatabaseHealthCheck.cs
  Audit/Persistance/Repositories/AuditLogRepository.cs
  Audit/Presentation/Controllers/AuditController.cs
  Audit/Program.cs
  Audit/Settings/AuditConstants.cs
  Audit/appsettings.Development.json
  Audit/appsettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml

added base onmodelcreating
  Audit/Persistance/AuditDbContext.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-4.yml: any of: Audit
  azure-pipelines.yml: any file but: README.md, azure-pipelines.yml, Azure_Pipelines
