Repository lantanagroup/link-cloud: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Path conditions:
  azure-pipelines-4.yml: any of: Audit
  azure-pipelines.yml: any file but: README.md, azure-pipelines.yml, Azure_Pipelines
  pipelines/aca/audit_adam.yml: any of: Audit

Update azure-pipelines.account.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.account.ci.yaml
Due: none

Update azure-pipelines.census.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.census.ci.yaml
Due: none

Update azure-pipelines.census.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.census.cd.yaml
Due: none

Update azure-pipelines.audit.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.audit.cd.yaml
Due: none

Update azure-pipelines.dataacquisition.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.dataacquisition.ci.yaml
Due: none

Update azure-pipelines.dataacquisition.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.dataacquisition.cd.yaml
Due: none

Update azure-pipelines.measureeval.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.measureeval.ci.yaml
Due: none

Update azure-pipelines.measureeval.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.measureeval.cd.yaml
Due: none

Update azure-pipelines.normalization.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.normalization.ci.yaml
Due: none

Update azure-pipelines.normalization.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.normalization.cd.yaml
Due: none

Update azure-pipelines.notification.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.notification.ci.yaml
Due: none

Update azure-pipelines.notification.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.notification.cd.yaml
Due: none

Added update interceptor, added cancelation token support, cleaned up dbContext
  Audit/Application/Audit/Commands/CreateAuditEvent/CreateAuditEventCommand.cs
  Audit/Application/Audit/Commands/CreateAuditEvent/ICreateAuditEventCommand.cs
  Audit/Application/Audit/Queries/GetAuditEvent/GetAuditEventQuery.cs
  Audit/Application/Audit/Queries/GetAuditEvent/IGetAuditEventQuery.cs
  Audit/Application/Audit/Queries/GetAuditEventsList/GetAuditEventListQuery.cs
  Audit/Application/Audit/Queries/GetAuditEventsList/IGetAuditEventListQuery.cs
  Audit/Application/Audit/Queries/GetFacilityAuditEvents/GetFacilityAuditEventsQuery.cs
  Audit/Application/Audit/Queries/GetFacilityAuditEvents/IGetFacilityAuditEventsQuery.cs
  Audit/Application/Interfaces/IAuditRepository.cs
  Audit/Application/Interfaces/ISearchRepository.cs
  Audit/Listeners/AuditEventListener.cs
  Audit/Persistance/AuditDbContext.cs
  Audit/Persistance/Interceptors/UpdateBaseEntityInterceptor.cs
  Audit/Persistance/Repositories/AuditLogRepository.cs
  Audit/Presentation/Controllers/AuditController.cs
  Audit/Program.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Updated unit tests
  Audit.Specification/StepDefinitions/CreateAuditEventStepDefinitions.cs
  AuditUnitTests/CreateAuditEventCommandTests.cs
  AuditUnitTests/GetAuditEventListQueryTests.cs
  AuditUnitTests/GetAuditEventQueryTests.cs
Due: azure-pipelines.yml

Update azure-pipelines.patientlist.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.patientlist.ci.yaml
Due: none

Update azure-pipelines.patientlist.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.patientlist.cd.yaml
Due: none

Update azure-pipelines.querydispatch.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.querydispatch.ci.yaml
Due: none

Fix build errors
  QueryDispatch/Domain/Entities/DispatchSchedule.cs
  QueryDispatch/Persistence/BaseMongoRepository.cs
Due: azure-pipelines.yml

fixing build errors
  QueryDispatch/Application/Factory/QueryDispatchFactory.cs
  QueryDispatch/Application/PatientDispatch/Commands/CreatePatientDispatchCommand.cs
  QueryDispatch/Application/PatientDispatch/Commands/DeletePatientDispatchCommand.cs
  QueryDispatch/Application/QueryDispatchConfiguration/Commands/CreateQueryDispatchConfigurationCommand.cs
  QueryDispatch/Application/QueryDispatchConfiguration/Commands/DeleteQueryDispatchConfigurationCommand.cs
  QueryDispatch/Application/QueryDispatchConfiguration/Commands/UpdateQueryDispatchConfigurationCommand.cs
  QueryDispatch/Application/ScheduledReport/Commands/CreateScheduledReportCommand.cs
  QueryDispatch/Application/ScheduledReport/Commands/UpdateScheduledReportCommand.cs
  QueryDispatch/Jobs/QueryDispatchJob.cs
  QueryDispatch/Listeners/PatientEventListener.cs
Due: azure-pipelines.yml

Fix Account Unit Tests
  Account/Repositories/DataContext.cs
  Account/Repositories/TestDataContext.cs
  AccountUnitTests/AccountTests.cs
Due: azure-pipelines.yml

Fixing a couple tests that need `async` and `await`
  TenantTests/CreateFacilityConfigurationTests.cs
  TenantTests/UpdateFacilityConfigurationTests.cs
Due: azure-pipelines.yml

Checkin
  QueryDispatch/appsettings.Development.json
  QueryDispatch/appsettings.json
  QueryDispatchUnitTests/CreateQueryDispatchConfigurationTests.cs
Due: azure-pipelines.yml

Fix QueryDispatch Tests
  QueryDispatch/QueryDispatch.csproj
  QueryDispatchUnitTests/CreateQueryDispatchConfigurationTests.cs
  QueryDispatchUnitTests/QueryDispatchUnitTests.csproj
Due: azure-pipelines.yml

Added missing get audit events by id endpoint, updated logging, updated AuditModel to only return the id instead of the AuditId strongly typed id
  Audit/Application/Audit/Queries/GetAuditEvent/GetAuditEventQuery.cs
  Audit/Application/Audit/Queries/GetAuditEventsList/GetAuditEventListQuery.cs
  Audit/Application/Audit/Queries/GetFacilityAuditEvents/GetFacilityAuditEventsQuery.cs
  Audit/Application/Audit/Queries/GetFacilityAuditEvents/IGetFacilityAuditEventsQuery.cs
  Audit/Application/Interfaces/IAuditRepository.cs
  Audit/Application/Models/AuditModel.cs
  Audit/Application/Models/PagedAuditModel.cs
  Audit/Infrastructure/Logging/Logging.cs
  Audit/Persistance/Repositories/AuditLogRepository.cs
  Audit/Presentation/Controllers/AuditController.cs
  Audit/Presentation/Models/EntityCreatedResponse.cs
  Audit/Settings/AuditConstants.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Update azure-pipelines.querydispatch.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.querydispatch.cd.yaml
Due: none

Fix More QueryDispatch Unit Tests
  QueryDispatchUnitTests/ReportScheduledEventListenerTests.cs
  QueryDispatchUnitTests/UpdateQueryDispatchConfigurationTests.cs
Due: azure-pipelines.yml

Merge with Main
  Account/Program.cs
  LinkNet.sln
Due: azure-pipelines.yml

Update azure-pipelines.report.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.report.ci.yaml
Due: none

Update azure-pipelines.report.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.report.cd.yaml
Due: none

Update Dockerfile
  Notification/Dockerfile
Due: azure-pipelines.yml

Update azure-pipelines.tenant.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.tenant.ci.yaml
Due: none

Update azure-pipelines.tenant.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.tenant.cd.yaml
Due: none

Update azure-pipelines.validation.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.validation.ci.yaml
Due: none

Update azure-pipelines.validation.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.validation.cd.yaml
Due: none

Update Dockerfile
  PatientsToQuery/Dockerfile
Due: azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none
