Repository lantanagroup/link-cloud: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Path conditions:
  azure-pipelines-4.yml: any of: Audit
  azure-pipelines.yml: any file but: README.md, azure-pipelines.yml, Azure_Pipelines
  pipelines/aca/audit_adam.yml: any of: Audit

Update azure-pipelines.shared.cd.yml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.shared.cd.yml
Due: none

Update azure-pipelines.shared.cd.yml
  Azure_Pipelines/azure-pipelines.shared.cd.yml
Due: none

Initial commit of Java projects, including a shared module and a validation service with dependencies on Kafka and SQL server
  Java/.dockerignore
  Java/.gitignore
  Java/Dockerfile
  Java/pom.xml
  Java/shared/pom.xml
  Java/shared/src/main/java/com/lantanagroup/link/shared/FhirHelper.java
  Java/shared/src/main/resources/empty.txt
  Java/shared/src/test/java/com/lantanagroup/link/core/FhirHelperTests.java
  Java/validation/.mvn/wrapper/maven-wrapper.jar
  Java/validation/.mvn/wrapper/maven-wrapper.properties
  Java/validation/pom.xml
  Java/validation/src/main/java/com/lantanagroup/link/validation/ValidationApplication.java
  Java/validation/src/main/java/com/lantanagroup/link/validation/consumers/PatientEvaluatedConsumer.java
  Java/validation/src/main/java/com/lantanagroup/link/validation/kafka/KafkaProperties.java
  Java/validation/src/main/java/com/lantanagroup/link/validation/model/PatientEvaluatedModel.java
  Java/validation/src/main/java/com/lantanagroup/link/validation/serdes/PatientEvaluatedDeserializer.java
  Java/validation/src/main/resources/application.yml
Due: azure-pipelines.yml

Update azure-pipelines.dataacquisition.cd.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.dataacquisition.cd.yaml
Due: none

Update azure-pipelines.dataacquisition.ci.yaml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.dataacquisition.ci.yaml
Due: none

Fix null errors during exception
  DataAcquisition/Application/Commands/Census/GetPatientCensusRequest.cs
  DataAcquisition/Application/Commands/Config/TenantCheck/CheckIfTenantExistsQuery.cs
  DataAcquisition/Controllers/AuthenticationConfigController.cs
  DataAcquisition/Controllers/QueryPlanConfigController.cs
  DataAcquisition/Listeners/QueryListener.cs
  DataAcquisitionTests/Commands/Config/Auth/SaveAuthConfigCommandTests.cs
  DataAcquisitionTests/Commands/Config/QueryConfig/SaveFhirQueryConfigCommandTests.cs
  DataAcquisitionTests/Commands/Config/QueryList/SaveFhirListCommandTests.cs
  DataAcquisitionTests/Commands/Config/QueryPlanConfig/SaveQueryPlanCommandTests.cs
  DataAcquisitionTests/Controllers/AuthenticationConfigControllerTests.cs
Due: azure-pipelines.yml

Update DataAcquisition.csproj
  DataAcquisition/DataAcquisition.csproj
Due: azure-pipelines.yml

Initial project setup
  LinkAdmin.BFF/Dockerfile
  LinkAdmin.BFF/LinkAdmin.BFF.csproj
  LinkAdmin.BFF/LinkAdmin.BFF.http
  LinkAdmin.BFF/Program.cs
  LinkAdmin.BFF/Properties/launchSettings.json
  LinkAdmin.BFF/Settings/LinkAdminConstants.cs
  LinkAdmin.BFF/appsettings.Development.json
  LinkAdmin.BFF/appsettings.json
  LinkNet.sln
Due: azure-pipelines.yml

Add infrastructure
  LinkAdmin.BFF/Application/Models/ServiceInformation.cs
  LinkAdmin.BFF/Infrastructure/ServiceActivitySource.cs
  LinkAdmin.BFF/Program.cs
Due: azure-pipelines.yml

Add open telemetry service extension
  LinkAdmin.BFF/Application/Models/TelemetryConfig.cs
  LinkAdmin.BFF/Infrastructure/Extensions/TelemetryServiceExtension.cs
  LinkAdmin.BFF/LinkAdmin.BFF.csproj
Due: azure-pipelines.yml

Add cors service extension
  LinkAdmin.BFF/Infrastructure/Extensions/CoresServiceExtension.cs
  LinkAdmin.BFF/Program.cs
Due: azure-pipelines.yml

Add serilog
  LinkAdmin.BFF/LinkAdmin.BFF.csproj
  LinkAdmin.BFF/Program.cs
Due: azure-pipelines.yml

Re-organize and setup middleware
  LinkAdmin.BFF/LinkAdmin.BFF.csproj
  LinkAdmin.BFF/Program.cs
Due: azure-pipelines.yml

Put back mongo settings
  Census/Program.cs
  Census/appsettings.json
Due: azure-pipelines.yml

reverted back to package versions prior to wildcard addition
  Audit/Audit.csproj
Due: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Updated telemetry and cors extension services
  LinkAdmin.BFF/Infrastructure/Extensions/CoresServiceExtension.cs
  LinkAdmin.BFF/Infrastructure/Extensions/CorsServiceExtension.cs
  LinkAdmin.BFF/Infrastructure/Extensions/TelemetryServiceExtension.cs
  LinkAdmin.BFF/Program.cs
  LinkAdmin.BFF/Settings/LinkAdminConstants.cs
  LinkAdmin.BFF/appsettings.Development.json
  LinkAdmin.BFF/appsettings.json
Due: azure-pipelines.yml

updated SetPreflightMaxAge to 600 (10 minutes)
  LinkAdmin.BFF/Infrastructure/Extensions/CorsServiceExtension.cs
Due: azure-pipelines.yml

Updated CORS configuration, added xml documentation
  LinkAdmin.BFF/Application/Models/CorsConfig.cs
  LinkAdmin.BFF/Application/Models/ServiceInformation.cs
  LinkAdmin.BFF/Application/Models/TelemetryConfig.cs
  LinkAdmin.BFF/Infrastructure/Extensions/CorsServiceExtension.cs
  LinkAdmin.BFF/LinkAdmin.BFF.csproj
  LinkAdmin.BFF/Program.cs
  LinkAdmin.BFF/Settings/LinkAdminConstants.cs
  LinkAdmin.BFF/appsettings.json
Due: azure-pipelines.yml

updated azure app config label configuration
  LinkAdmin.BFF/Program.cs
Due: azure-pipelines.yml

removed swagger policy from cors policy builder, not needed
  LinkAdmin.BFF/Infrastructure/Extensions/CorsServiceExtension.cs
  LinkAdmin.BFF/Program.cs
Due: azure-pipelines.yml

Added problem details extension, added yarp NuGET package
  LinkAdmin.BFF/Infrastructure/Extensions/ProblemDetailsExtension.cs
  LinkAdmin.BFF/LinkAdmin.BFF.csproj
  LinkAdmin.BFF/Program.cs
  LinkAdmin.BFF/appsettings.json
Due: azure-pipelines.yml

Updated cors config, added minimal api user endpoint with temporary logic.
  LinkAdmin.BFF/Application/Models/CorsConfig.cs
  LinkAdmin.BFF/Infrastructure/Extensions/CorsServiceExtension.cs
  LinkAdmin.BFF/Program.cs
Due: azure-pipelines.yml

Added basic yarp config for audit and notification service reverse proxy
  LinkAdmin.BFF/Program.cs
  LinkAdmin.BFF/appsettings.json
Due: azure-pipelines.yml

Error check in handler
  Census/Application/Errors/NonTransientPatientIDsAcquiredExceptionHandler.cs
Due: azure-pipelines.yml

LNK-2104 Commit
  Census/Program.cs
  Normalization/Program.cs
  QueryDispatch/Program.cs
  Report/Application/Error/Exceptions/TerminatingException.cs
  Report/Application/Error/Exceptions/TransientException.cs
  Report/Application/Error/Handlers/ReportExceptionHandler.cs
  Report/Application/Error/Handlers/ReportTransientExceptionHandler.cs
  Report/Application/Error/Interfaces/IReportExceptionHandler.cs
  Report/Application/Error/Interfaces/IReportTransientExceptionHandler.cs
  Report/Application/MeasureReportSchedule/Commands/CreateMeasureReportScheduleCommand.cs
  Report/Controllers/ReportConfigController.cs
  Report/Listeners/MeasureEvaluatedListener.cs
  Report/Listeners/PatientsToQueryListener.cs
  Report/Listeners/ReportScheduledListener.cs
  Report/Listeners/ReportSubmittedListener.cs
  Report/Program.cs
Due: azure-pipelines.yml

Revert OpenTelemetry wildcards due to beta and prerelease version complications
  Account/Account.csproj
  Census/Census.csproj
  DataAcquisition/DataAcquisition.csproj
  MeasureEval/MeasureEval.csproj
  Normalization/Normalization.csproj
  Notification/Notification.csproj
  PatientsToQuery/PatientsToQuery.csproj
  QueryDispatch/QueryDispatch.csproj
  Report/Report.csproj
  Tenant/Tenant.csproj
Due: azure-pipelines.yml

fix shared version
  Audit/Audit.csproj
Due: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Shared project consolidation
  Account/Account.csproj
  Census/Census.csproj
  DataAcquisition/DataAcquisition.csproj
  DataAcquisitionTests/DataAcquisitionTests.csproj
  DemoApiGateway/DemoApiGateway.csproj
  MeasureEval/MeasureEval.csproj
  Normalization/Normalization.csproj
  Notification/Notification.csproj
  PatientsToQuery/PatientsToQuery.csproj
  QueryDispatch/QueryDispatch.csproj
  QueryDispatchTests/QueryDispatchTests.csproj
  Report/Report.csproj
  Submission/Submission.csproj
  Tenant/Tenant.csproj
  TenantTests/TenantTests.csproj
Due: azure-pipelines.yml

Who handles the handler?
  Report/Application/Error/Handlers/ReportExceptionHandler.cs
  Report/Application/Error/Handlers/ReportTransientExceptionHandler.cs
Due: azure-pipelines.yml

expand message
  Report/Application/Error/Handlers/ReportExceptionHandler.cs
  Report/Application/Error/Handlers/ReportTransientExceptionHandler.cs
Due: azure-pipelines.yml

Added remaining services to yarp configuration
  LinkAdmin.BFF/appsettings.json
Due: azure-pipelines.yml

Updated NuGet packages, added open telemertry entity framework instrumentation
  Audit/Audit.csproj
  Audit/Infrastructure/Extensions/ServiceCollectionExtensions.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Move Exception Handling into Shared
  Shared/Application/Error/Exceptions/TerminatingException.cs
  Shared/Application/Error/Exceptions/TransientException.cs
  Shared/Application/Error/Handlers/ExceptionHandler.cs
  Shared/Application/Error/Handlers/TransientExceptionHandler.cs
  Shared/Application/Error/Interfaces/IExceptionHandler.cs
  Shared/Application/Error/Interfaces/ITransientExceptionHandler.cs
Due: azure-pipelines.yml

LNK-2160-Update_Tenant_to_be_able_to_use_external_configuration
  Tenant/Config/TenantConstants.cs
  Tenant/Controllers/FacilityController.cs
  Tenant/Models/MeasureApiConfig.cs
  Tenant/Models/TelemetryConfig.cs
  Tenant/Models/TenantConfig.cs
  Tenant/Program.cs
  Tenant/Services/DatabaseHealthCheck.cs
  Tenant/Services/FacilityConfigurationService.cs
  Tenant/Services/ScheduleService.cs
  Tenant/Tenant.csproj
  Tenant/appsettings.Development.json
  Tenant/appsettings.json
  TenantTests/CreateFacilityConfigurationTests.cs
  TenantTests/GetFacilityConfigurationTests.cs
  TenantTests/RemoveFacilityConfigurationTests.cs
  TenantTests/UpdateFacilityConfigurationTests.cs
Due: azure-pipelines.yml
