Repository lantanagroup/link-cloud: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Path conditions:
  azure-pipelines-4.yml: any of: Audit
  azure-pipelines.yml: any file but: README.md, azure-pipelines.yml, Azure_Pipelines
  pipelines/aca/audit_adam.yml: any of: Audit

Update Dockerfile
  PatientsToQuery/Dockerfile
Due: azure-pipelines.yml

Fix Tenant Unit test, comment another out (non workable right now)
  DataAcquisitionTests/QueryListenerTests.cs
  LinkNet.sln
  QueryDispatchTests/PatientEventListenerTests.cs
  Tenant/Services/FacilityConfigurationService.cs
  TenantTests/CreateFacilityConfigurationTests.cs
Due: azure-pipelines.yml

Updated endpoints to follow API guidance
  Audit/Presentation/Controllers/AuditController.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Updated deserializer
  PatientsToQuery/Serializers/PatientIdsAcquiredSerializer.cs
Due: azure-pipelines.yml

Updated docker profile in Audit and Notification to work against local containerized telemetry, kafka, and databases
  Audit/Properties/launchSettings.json
  Notification/Properties/launchSettings.json
Due: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Updates based on conversation with Ed
  PatientsToQuery/Serializers/PatientIdsAcquiredSerializer.cs
Due: azure-pipelines.yml

New pipelines
  Azure_Pipelines/azure-pipelines.patientbundlepermeasure.cd.yaml
  Azure_Pipelines/azure-pipelines.patientbundlepermeasure.ci.yaml
  Azure_Pipelines/azure-pipelines.patientstoquery.cd.yaml
  Azure_Pipelines/azure-pipelines.patientstoquery.ci.yaml
  Azure_Pipelines/azure-pipelines.submission.cd.yaml
  Azure_Pipelines/azure-pipelines.submission.ci.yaml
Due: none

LNK-1387: Add configuration section for measure evaluation service
  DemoApiGateway/Application/models/GatewayConfig.cs
  DemoApiGateway/Application/models/measureDefinition/MeasureDefinitionConfigModel.cs
  DemoApiGateway/Application/models/measureDefinition/PagedMeasureDefinitionConfigModel.cs
  DemoApiGateway/Controllers/MeasureDefinitionGatewayController.cs
  DemoApiGateway/Program.cs
  DemoApiGateway/Services/Client/MeasureDefinition/IMeasureDefinitionService.cs
  DemoApiGateway/Services/Client/MeasureDefinition/MeasureDefinitionService.cs
  DemoApiGateway/appsettings.json
  DemoApp/src/app/app-routing.module.ts
  DemoApp/src/app/app.component.html
  DemoApp/src/app/components/file-upload/file-upload.component.html
  DemoApp/src/app/components/file-upload/file-upload.component.scss
  DemoApp/src/app/components/file-upload/file-upload.component.spec.ts
  DemoApp/src/app/components/file-upload/file-upload.component.ts
  DemoApp/src/app/components/measure-def/measure-def-config-dialog/measure-def-config-dialog.component.html
  DemoApp/src/app/components/measure-def/measure-def-config-dialog/measure-def-config-dialog.component.scss
  DemoApp/src/app/components/measure-def/measure-def-config-dialog/measure-def-config-dialog.component.spec.ts
  DemoApp/src/app/components/measure-def/measure-def-config-dialog/measure-def-config-dialog.component.ts
  DemoApp/src/app/components/measure-def/measure-def-config-form/measure-def-config-form.component.html
  DemoApp/src/app/components/measure-def/measure-def-config-form/measure-def-config-form.component.scss
  DemoApp/src/app/components/measure-def/measure-def-config-form/measure-def-config-form.component.spec.ts
  DemoApp/src/app/components/measure-def/measure-def-config-form/measure-def-config-form.component.ts
  DemoApp/src/app/components/measure-def/measure-def-dashboard/measure-def-dashboard.component.html
  DemoApp/src/app/components/measure-def/measure-def-dashboard/measure-def-dashboard.component.scss
  DemoApp/src/app/components/measure-def/measure-def-dashboard/measure-def-dashboard.component.spec.ts
  DemoApp/src/app/components/measure-def/measure-def-dashboard/measure-def-dashboard.component.ts
  DemoApp/src/app/components/measure-def/measure-def-view/measure-def-view.component.html
  DemoApp/src/app/components/measure-def/measure-def-view/measure-def-view.component.scss
  DemoApp/src/app/components/measure-def/measure-def-view/measure-def-view.component.spec.ts
  DemoApp/src/app/components/measure-def/measure-def-view/measure-def-view.component.ts
  DemoApp/src/app/components/report/report-config-form/report-config-form.component.scss
  DemoApp/src/app/components/validators/BundleIdValidator.ts
  DemoApp/src/app/components/validators/UrlOrBundleValidator.ts
  DemoApp/src/app/interfaces/measure-definition/measure-definition-config-model.interface.ts
  DemoApp/src/app/services/gateway/measure-definition/measure.service.ts
  MeasureEval/Controllers/MeasureDefinitionController.cs
  MeasureEval/Models/ReportDefinition.cs
  MeasureEval/Repository/IMeasureDefinitionRepo.cs
  MeasureEval/Repository/MeasureDefinitionRepo.cs
  MeasureEval/Services/MeasureDefinitionService.cs
Due: azure-pipelines.yml

Tenant Check for Data Acq
  DataAcquisition/Application/Commands/Config/Auth/SaveAuthConfigCommand.cs
  DataAcquisition/Application/Commands/Config/QueryConfig/SaveFhirQueryConfigCommand.cs
  DataAcquisition/Application/Commands/Config/QueryList/SaveFhirListCommand.cs
  DataAcquisition/Application/Commands/Config/QueryPlanConfig/SaveQueryPlanCommand.cs
  DataAcquisition/Application/Commands/Config/TenantCheck/CheckIfTenantExistsQuery.cs
  DataAcquisition/Application/Models/Exceptions/MissingTenantConfigurationException.cs
  DataAcquisition/Application/Settings/DataAcquisitionConstants.cs
  DataAcquisition/Application/Settings/TenantConfig.cs
  DataAcquisition/Controllers/AuthenticationConfigController.cs
  DataAcquisition/Controllers/QueryConfigController.cs
  DataAcquisition/Controllers/QueryListController.cs
  DataAcquisition/Controllers/QueryPlanConfigController.cs
  DataAcquisition/Program.cs
  DataAcquisition/appsettings.json
Due: azure-pipelines.yml

Update CheckIfTenantExistsQuery.cs
  DataAcquisition/Application/Commands/Config/TenantCheck/CheckIfTenantExistsQuery.cs
Due: azure-pipelines.yml

Tenant Check Census
  Census/Commands/CreateCensusConfigCommand.cs
  Census/Commands/TenantCheck/CheckIfTenantExistsQuery.cs
  Census/Commands/UpdateCensusCommand.cs
  Census/Models/Exceptions/MissingTenantConfigurationException.cs
  Census/Program.cs
  Census/Settings/CensusConstants.cs
  Census/Settings/TenantConfig.cs
  Census/appsettings.json
Due: azure-pipelines.yml

Changed the primary key to not be a clustered index since we are generating the GUID in the service, added an index foro FacilityId and UserId
  Audit/Persistance/Configurations/AuditLogConfigurations.cs
Due: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

LNK-1387: Fix MeasureEvalReportServiceTests
  MeasureEvalUnitTests/MeasureEvalReportServiceTests.cs
Due: azure-pipelines.yml

Updated notification service indexing
  Notification/Persistence/Configurations/NotificationConfigConfigurations.cs
  Notification/Persistence/Configurations/NotificationEntityConfigurations.cs
  Notification/Program.cs
Due: azure-pipelines.yml

Fixing some errors
  Census/Commands/TenantCheck/CheckIfTenantExistsQuery.cs
  Census/Controllers/CensusConfigController.cs
  Census/Settings/TenantConfig.cs
  DataAcquisition/Application/Commands/Config/TenantCheck/CheckIfTenantExistsQuery.cs
  DataAcquisition/Application/Settings/TenantConfig.cs
Due: azure-pipelines.yml

Update README.md
  README.md
Due: none

Shared Updates
  Shared/Application/Factories/KafkaConsumerFactory.cs
  Shared/Application/Factories/KafkaProducerFactory.cs
  Shared/Application/Models/Configs/KafkaConnection.cs
Due: azure-pipelines.yml

add shared pipelines
  Azure_Pipelines/azure-pipelines.shared.cd.yml
  Azure_Pipelines/azure-pipelines.shared.ci.yml
Due: none

Fix Tests
  CensusTests/CRUDCommandTests.cs
Due: azure-pipelines.yml

More Fixes
  CensusTests/CRUDCommandTests.cs
Due: azure-pipelines.yml

Fix Census Error
  Census/Census.csproj
  Census/Commands/TenantCheck/CheckIfTenantExistsQuery.cs
  Census/Program.cs
  Census/Settings/CensusConstants.cs
  Census/appsettings.json
Due: azure-pipelines.yml

Update Program.cs
  Census/Program.cs
Due: azure-pipelines.yml

Data Acq fix
  Census/appsettings.json
  DataAcquisition/Application/Commands/Config/TenantCheck/CheckIfTenantExistsQuery.cs
  DataAcquisition/Application/Settings/DataAcquisitionConstants.cs
  DataAcquisition/Controllers/QueryConfigController.cs
  DataAcquisition/DataAcquisition.csproj
  DataAcquisition/Program.cs
  DataAcquisition/appsettings.json
  DataAcquisitionTests/DataAcquisitionTests.csproj
Due: azure-pipelines.yml

Cleanup somewhat duplicated MissingTenantConfigurationException and MissingFacilityConfigurationException objects
  DataAcquisition/Application/Commands/Config/Auth/SaveAuthConfigCommand.cs
  DataAcquisition/Application/Commands/Config/QueryList/GetFhirListConfigQuery.cs
  DataAcquisition/Application/Models/Exceptions/MissingFacilityConfigurationException.cs
  DataAcquisition/Controllers/AuthenticationConfigController.cs
  DataAcquisitionTests/Commands/Config/Auth/SaveAuthConfigCommandTests.cs
  DataAcquisitionTests/Commands/Config/QueryList/GetFhirListConfigQueryTests.cs
Due: azure-pipelines.yml

Unde Shared Wildcarding
  Account/Account.csproj
  Audit/Audit.csproj
  Census/Census.csproj
  DataAcquisition/DataAcquisition.csproj
  DataAcquisitionTests/DataAcquisitionTests.csproj
  DemoApiGateway/DemoApiGateway.csproj
  MeasureEval/MeasureEval.csproj
  Normalization/Normalization.csproj
  Notification/Notification.csproj
  PatientsToQuery/PatientsToQuery.csproj
  QueryDispatch/QueryDispatch.csproj
  QueryDispatchTests/QueryDispatchTests.csproj
  Report/Report.csproj
  Submission/Submission.csproj
  Tenant/Tenant.csproj
  TenantTests/TenantTests.csproj
Due: azure-pipelines-4.yml, azure-pipelines.yml, pipelines/aca/audit_adam.yml

Restore MissingTenantConfigurationException
  Census/Census.csproj
  Census/Commands/CreateCensusConfigCommand.cs
  Census/Commands/UpdateCensusCommand.cs
  Census/Controllers/CensusConfigController.cs
  Census/Models/Exceptions/MissingTenantConfigurationException.cs
Due: azure-pipelines.yml

Rename exception in Data Acq
  DataAcquisition/Application/Commands/Config/Auth/SaveAuthConfigCommand.cs
  DataAcquisition/Application/Commands/Config/QueryConfig/SaveFhirQueryConfigCommand.cs
  DataAcquisition/Application/Commands/Config/QueryList/GetFhirListConfigQuery.cs
  DataAcquisition/Application/Commands/Config/QueryList/SaveFhirListCommand.cs
  DataAcquisition/Application/Commands/Config/QueryPlanConfig/SaveQueryPlanCommand.cs
  DataAcquisition/Application/Models/Exceptions/MissingFacilityConfigurationException.cs
  DataAcquisition/Application/Models/Exceptions/MissingTenantConfigurationException.cs
  DataAcquisition/Controllers/AuthenticationConfigController.cs
  DataAcquisition/Controllers/QueryConfigController.cs
  DataAcquisition/Controllers/QueryListController.cs
  DataAcquisition/Controllers/QueryPlanConfigController.cs
  DataAcquisitionTests/Commands/Config/Auth/SaveAuthConfigCommandTests.cs
  DataAcquisitionTests/Commands/Config/QueryList/GetFhirListConfigQueryTests.cs
Due: azure-pipelines.yml

remove unused TenantConfig
  DataAcquisition/Application/Settings/TenantConfig.cs
Due: azure-pipelines.yml

Add version for publishing
  Shared/Shared.csproj
Due: azure-pipelines.yml

Update azure-pipelines.shared.cd.yml for Azure Pipelines
  Azure_Pipelines/azure-pipelines.shared.cd.yml
Due: none

Update Shared.csproj
  Shared/Shared.csproj
Due: azure-pipelines.yml
